<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1200,initial-scale=1">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui=yes"> -->
    <%= htmlWebpackPlugin.options.meta %>
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <meta http-equiv="Cache-Control" content="private">
        <meta name="format-detection" content="telephone=no, email=no">
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed">
</head>

<body>
    <div id="app">
        <%= htmlWebpackPlugin.options.htmlDom %>
    </div>
    <script src="<%= htmlWebpackPlugin.options.vendersName %>"></script>
    <%= htmlWebpackPlugin.options.state %>
</body>

</html>